@using TestStore.Models
@model IEnumerable<Image>
@{
    Layout = "_AdminLayout";
}
<style>
    .file-upload input[type='file'] {
  display: none;
    }
  .rounded-lg {
  border-radius: 1rem;
}

.custom-file-label.rounded-pill {
  border-radius: 50rem;
}

.custom-file-label.rounded-pill::after {
  border-radius: 0 50rem 50rem 0;
}
</style>
<form asp-action="UploadImage" 
asp-controller="Admin"
    method="post"
    enctype="multipart/form-data"><div class="form-group">
        <input type="number" name="productId"/>
     <label for="file1" class="btn btn-primary">Choose file
    <input type="file" id="file1"
        name="file1"
        multiple="multiple"
        style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;'
        onchange='$("#upload-file-info").html($(this).val());'
        /></label>
        &nbsp;
		<span class='label label-info' id="upload-file-info"></span>
    <button type="submit" class="btn btn-primary form-control">Upload</button></div>
</form>
<table class="table table-striped table-bordered table-sm">
    <tr>
        <th class="text-right">ID</th>
        <th>Name</th>
        <th class="text-right">Image</th>
        <th class="text-center">Actions</th>
    </tr>
@foreach(var img in Model)
{<tr>
    <td class="text-right">@img.ImageId</td>
    <td>@img.ImageTitle</td>
    <td class="text-center">
        <img src="@string.Format("data:image/jpg;base64,{0}",Convert.ToBase64String(img.ImageData))" max-width="150"/>
    </td>
    <td>
        <form asp-action="ImageDelete" method="post">
            <input type="hidden" name="imageId" value="@img.ImageId"/>
            <button type="submit" class="btn btn-danger btn-sm">
                    Delete
            </button>
        </form>
        <form asp-action="ImageDelete" method="post">
            <input type="hidden" name="imageId" value="@img.ImageId"/>
            
            <button type="submit" class="btn btn-danger btn-sm">
                    Add to Product
            </button>
        </form>
</td>
    </tr>
}
</table>
